body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

/*Global*/
.container,
.home-header {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*Header*/
header {
  background: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #f4f4f4 2px solid;
}

header a {
  position: relative;
  color: #2d9bf0;
  text-decoration: none;
  font-size: 16px;
  padding: 0 10px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #logo {
  float: left;
}

header #logo h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight {
  color: #2d9bf0;
  font-weight: bold;
}

header a:after {
  content: "";
  position: absolute;
  background-color: #faacfb;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

header a:hover::after {
  width: 100%;
}

/*Banner settings*/

#banner {
  min-height: 400px;
  background: url(../assets/for-sale.jpeg) no-repeat 0 -400px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  text-align: center;
  color:#fff;
}

#banner h1{
  font-size: 56px;
  margin-top: 150px;
  text-shadow: 2px 2px 4px #000000;
}

.banner-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 3rem;
}

.page-info {
  margin: 70px 250px 70px 250px;
}

/*Sections on data analysis*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

div.form-and-chart {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  justify-content: center;
  margin-bottom: 50px;
}

h2{
  text-align: center;
}

main{
  margin: 70px 250px 70px 250px;
}

.dropdown-group h2{
  font-size: 16px;
  text-transform: uppercase;
  color: #74BDF5;
}

.dropdown-group div {
  margin: 20px 0 20px 0;
}

#county, #start-date, #end-date {
  border: 1px solid #C5C3C4;
  border-radius: 0.25em;
  font-size: 16px;
  cursor: pointer;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  padding: 2px;
}

label{
  font-size: 16px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  background-color: #c5c3c4;
  text-align: center;
}
